In [1]:
import pandas as pd

In [5]:
usa=pd.read_csv("../Datasets/Covid-19/day_wise.csv")

In [6]:
usa

,Date,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,No. of countries
0,2020-01-22,555,17,28,510,0,0,0,3.06,5.05,60.71,6
1,2020-01-23,654,18,30,606,99,1,2,2.75,4.59,60.00,8
2,2020-01-24,941,26,36,879,287,8,6,2.76,3.83,72.22,9
3,2020-01-25,1434,42,39,1353,493,16,3,2.93,2.72,107.69,11
4,2020-01-26,2118,56,52,2010,684,14,13,2.64,2.46,107.69,13
5,2020-01-27,2927,82,61,2784,809,26,9,2.80,2.08,134.43,16
6,2020-01-28,5578,131,107,5340,2651,49,46,2.35,1.92,122.43,16
7,2020-01-29,6166,133,125,5908,588,2,18,2.16,2.03,106.40,18
8,2020-01-30,8234,171,141,7922,2068,38,16,2.08,1.71,121.28,20
9,2020-01-31,9927,213,219,9495,1693,42,78,2.15,2.21,97.26,24
10,2020-02-01,12038,259,281,11498,2111,46,62,2.15,2.33,92.17,25
11,2020-02-02,16787,362,459,15966,4749,103,178,2.16,2.73,78.87,25
12,2020-02-03,19887,426,604,18857,3100,64,145,2.14,3.04,70.53,25
13,2020-02-04,23898,492,821,22585,4011,66,217,2.06,3.44,59.93,26
14,2020-02-05,27643,564,1071,26008,3745,72,250,2.04,3.87,52.66,26
15,2020-02-06,30802,634,1418,28750,3159,70,347,2.06,4.60,44.71,26
16,2020-02-07,34334,719,1903,31712,3532,85,485,2.09,5.54,37.78,26
17,2020-02-08,37068,806,2470,33792,2734,87,567,2.17,6.66,32.63,26
18,2020-02-09,40095,906,3057,36132,3027,100,587,2.26,7.62,29.64,26
19,2020-02-10,42633,1013,3714,37906,2538,107,657,2.38,8.71,27.28,26
20,2020-02-11,44675,1113,4417,39145,2042,100,703,2.49,9.89,25.20,26
21,2020-02-12,46561,1118,4849,40594,1886,5,432,2.40,10.41,23.06,26
22,2020-02-13,60206,1371,5930,52905,13645,253,1081,2.28,9.85,23.12,26
23,2020-02-14,66690,1523,7613,57554,6484,152,1683,2.28,11.42,20.01,27
24,2020-02-15,68765,1666,8902,58197,2075,143,1289,2.42,12.95,18.71,27
25,2020-02-16,70879,1770,10319,58790,2114,104,1417,2.50,14.56,17.15,27
26,2020-02-17,72815,1868,11951,58996,1936,98,1632,2.57,16.41,15.63,27
27,2020-02-18,74609,2008,13693,58908,1794,140,1742,2.69,18.35,14.66,27
28,2020-02-19,75030,2123,15394,57513,421,115,1701,2.83,20.52,13.79,28
29,2020-02-20,75577,2246,17369,55962,547,123,1975,2.97,22.98,12.93,28
...,...,...,...,...,...,...,...,...,...,...,...,...
158,2020-06-28,10117227,502357,5070592,4544278,162349,3089,88784,4.97,50.12,9.91,187
159,2020-06-29,10275799,506078,5164494,4605227,158572,3721,93902,4.92,50.26,9.80,187
160,2020-06-30,10449697,511210,5281459,4657028,173898,5132,116965,4.89,50.54,9.68,187
161,2020-07-01,10667386,516221,5397083,4754082,217689,5011,115624,4.84,50.59,9.56,187
162,2020-07-02,10875091,521341,5681477,4672273,207705,5120,284394,4.79,52.24,9.18,187
163,2020-07-03,11078585,526336,5790942,4761307,203495,4995,109465,4.75,52.27,9.09,187
164,2020-07-04,11272152,530705,5986375,4755072,193567,4369,195433,4.71,53.11,8.87,187
165,2020-07-05,11454847,534150,6105546,4815151,182695,3445,119171,4.66,53.30,8.75,187
166,2020-07-06,11622190,537947,6228768,4855475,167343,3797,123222,4.63,53.59,8.64,187
167,2020-07-07,11833034,544054,6373513,4915467,210844,6107,144745,4.60,53.86,8.54,187
168,2020-07-08,12044836,549373,6531016,4964447,211802,5319,157503,4.56,54.22,8.41,187
169,2020-07-09,12273063,554831,6665237,5052995,228227,5458,134221,4.52,54.31,8.32,187
170,2020-07-10,12505640,560142,6804254,5141244,232577,5311,139017,4.48,54.41,8.23,187
171,2020-07-11,12721968,565039,6929711,5227218,216328,4897,125457,4.44,54.47,8.15,187
172,2020-07-12,12914636,568993,7041174,5304469,192668,3954,111463,4.41,54.52,8.08,187
173,2020-07-13,13107415,572808,7181139,5353468,192779,3815,139965,4.37,54.79,7.98,187
174,2020-07-14,13328867,578468,7322897,5427502,221452,5660,141758,4.34,54.94,7.90,187
175,2020-07-15,13559984,583961,7482320,5493703,231122,5493,159423,4.31,55.18,7.80,187
176,2020-07-16,13812525,589760,7634241,5588524,252544,5799,151921,4.27,55.27,7.73,187
177,2020-07-17,14054563,596503,7793760,5664300,242038,6743,159519,4.24,55.45,7.65,187
178,2020-07-18,14292198,602130,7944550,5745518,237635,5627,150790,4.21,55.59,7.58,187
179,2020-07-19,14506845,606159,8032235,5868451,214647,4029,87685,4.18,55.37,7.55,187
180,2020-07-20,14713623,610319,8190777,5912527,206778,4160,158542,4.15,55.67,7.45,187
181,2020-07-21,14947078,616557,8364986,5965535,233565,6238,174209,4.12,55.96,7.37,187
182,2020-07-22,15227725,623540,8541255,6062930,280647,6983,176269,4.09,56.09,7.30,187
183,2020-07-23,15510481,633506,8710969,6166006,282756,9966,169714,4.08,56.16,7.27,187
184,2020-07-24,15791645,639650,8939705,6212290,281164,6144,228736,4.05,56.61,7.16,187
185,2020-07-25,16047190,644517,9158743,6243930,255545,4867,219038,4.02,57.07,7.04,187
186,2020-07-26,16251796,648621,9293464,6309711,204606,4104,134721,3.99,57.18,6.98,187
187,2020-07-27,16480485,654036,9468087,6358362,228693,5415,174623,3.97,57.45,6.91,187

## absolute maximum scaling

In [10]:
# in this scaling, we divide the column we want to scale with the absolute max value of that column.
maxConf=usa.Confirmed.abs().max()
(usa.Confirmed)/maxConf

0      0.000034
1      0.000040
2      0.000057
3      0.000087
4      0.000129
5      0.000178
6      0.000338
7      0.000374
8      0.000500
9      0.000602
10     0.000730
11     0.001019
12     0.001207
13     0.001450
14     0.001677
15     0.001869
16     0.002083
17     0.002249
18     0.002433
19     0.002587
20     0.002711
21     0.002825
22     0.003653
23     0.004047
24     0.004173
25     0.004301
26     0.004418
27     0.004527
28     0.004553
29     0.004586
         ...
158    0.613891
159    0.623513
160    0.634065
161    0.647274
162    0.659877
163    0.672224
164    0.683970
165    0.695055
166    0.705209
167    0.718003
168    0.730854
169    0.744703
170    0.758815
171    0.771941
172    0.783632
173    0.795329
174    0.808767
175    0.822790
176    0.838114
177    0.852800
178    0.867220
179    0.880244
180    0.892791
181    0.906956
182    0.923985
183    0.941142
184    0.958203
185    0.973709
186    0.986124
187    1.000000
Name: Confirmed, Length: 188, dtype: float64

In [11]:
usa["Confirmed_scaled"]=(usa.Confirmed)/maxConf

In [12]:
usa.head()

,Date,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,No. of countries,Confirmed_scaled
0,2020-01-22,555,17,28,510,0,0,0,3.06,5.05,60.71,6,0.000034
1,2020-01-23,654,18,30,606,99,1,2,2.75,4.59,60.00,8,0.000040
2,2020-01-24,941,26,36,879,287,8,6,2.76,3.83,72.22,9,0.000057
3,2020-01-25,1434,42,39,1353,493,16,3,2.93,2.72,107.69,11,0.000087
4,2020-01-26,2118,56,52,2010,684,14,13,2.64,2.46,107.69,13,0.000129

## Robust Scaling

In [15]:
usa.describe()

,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,No. of countries,Confirmed_scaled
count,1.880000e+02,188.000000,1.880000e+02,1.880000e+02,188.000000,188.000000,188.000000,188.000000,188.000000,188.000000,188.000000,188.000000
mean,4.406960e+06,230770.760638,2.066001e+06,2.110188e+06,87771.021277,3478.824468,50362.015957,4.860638,34.343936,22.104521,144.351064,0.267405
std,4.757988e+06,217929.094183,2.627976e+06,1.969670e+06,75295.293255,2537.735652,56090.892479,1.579541,16.206159,22.568307,65.175979,0.288704
min,5.550000e+02,17.000000,2.800000e+01,5.100000e+02,0.000000,0.000000,0.000000,2.040000,1.710000,6.260000,6.000000,0.000034
25%,1.121910e+05,3935.000000,6.044125e+04,5.864175e+04,5568.500000,250.750000,2488.250000,3.510000,22.785000,9.650000,101.250000,0.006808
50%,2.848733e+06,204190.000000,7.847840e+05,1.859759e+06,81114.000000,4116.000000,30991.500000,4.850000,35.680000,15.380000,184.000000,0.172855
75%,7.422046e+06,418634.500000,3.416396e+06,3.587015e+06,131502.500000,5346.000000,79706.250000,6.297500,48.945000,25.342500,187.000000,0.450354
max,1.648048e+07,654036.000000,9.468087e+06,6.358362e+06,282756.000000,9966.000000,284394.000000,7.180000,57.450000,134.430000,187.000000,1.000000

In [ ]:
# Robust scaling transforms the feature vector by subtracting the median and then
# dividing by the interquartile range (75% value - 25% value).

In [22]:
median=usa.Deaths.median()
Deaths_75 = 418634.5
Deaths_25 = 3935

# robust sclaing formula

robustScaling=((usa.Deaths-median)/(Deaths_75 - Deaths_25))
usa["Deaths_scaled"]=robustScaling

In [24]:
usa.head()

,Date,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,No. of countries,Confirmed_scaled,Deaths_scaled
0,2020-01-22,555,17,28,510,0,0,0,3.06,5.05,60.71,6,0.000034,-0.492340
1,2020-01-23,654,18,30,606,99,1,2,2.75,4.59,60.00,8,0.000040,-0.492337
2,2020-01-24,941,26,36,879,287,8,6,2.76,3.83,72.22,9,0.000057,-0.492318
3,2020-01-25,1434,42,39,1353,493,16,3,2.93,2.72,107.69,11,0.000087,-0.492279
4,2020-01-26,2118,56,52,2010,684,14,13,2.64,2.46,107.69,13,0.000129,-0.492246